@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  background-color: cadetblue;
  border-bottom: coral 2px solid;
}
.left {
  font-size: 22px;
  margin-left: 105px;
}
nav {
  width: 30%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  padding: 0 25px;
  font-size: 22px;
  text-decoration: underline;
}
li:hover {
  cursor: pointer;
  color: crimson;
}
main {
  width: 100%;
  margin-top: 80px;
}
.paragraphs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.paragraphs h2 {
  padding-bottom: 20px;
}
.paragraphs p {
  width: 80%;
}
.image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.background {
  background-color: black;
  padding: 5px 5px 0 5px;
  border-radius: 50%;
}
.me-section h1 {
  text-align: center;
  padding-top: 95px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-direction: column;
}
.label {
  padding-bottom: 20px;
}
